body {
    background: #428BCA;
    text-align: center;
    font-family: arial, sans-serif;
}

#title {
    padding: 20px;
}

#title img {
    vertical-align: middle;
    margin: 0 10px;
}

#title span {
    font-size: 20px;
    font-weight: bold;
    color: white;
    vertical-align: middle;
}

#options {
    width: 500px;
    background: white;
    border-radius: 10px;
    padding: 10px;
    margin: 0 auto;
}

#options .section {
    margin: 10px;
    text-align: left;
    font-size: 15px;
}

#options .section .label {
    font-weight: bold;
    display: inline-block;
    width: 150px;
    vertical-align: top;
}

#options .section input[type=number] {
    width: 60px;
}

#options #notification-type .environment {
    margin: 2px 0;
}

#options #notification-type .environment span {
    padding-left: 13px;
    display: inline-block;
    width: 140px;
}

#options #notification-type .environment select {
    width: 120px;
}

#options #auto-scripts textarea {
    padding: 0;
}